<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @solarscreen.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @solarscreen.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @solarscreen.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @solarscreen.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @solarscreen.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @solarscreen.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @solarscreen.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @solarscreen.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @solarscreen.email %>
</p>

<%= link_to 'Edit', edit_solarscreen_path(@solarscreen) %> |
<%= link_to 'Back', solarscreens_path %>
