<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @termiteinspector.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @termiteinspector.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @termiteinspector.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @termiteinspector.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @termiteinspector.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @termiteinspector.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @termiteinspector.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @termiteinspector.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @termiteinspector.email %>
</p>

<%= link_to 'Edit', edit_termiteinspector_path(@termiteinspector) %> |
<%= link_to 'Back', termiteinspectors_path %>
