<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @window.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @window.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @window.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @window.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @window.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @window.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @window.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @window.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @window.email %>
</p>

<%= link_to 'Edit', edit_window_path(@window) %> |
<%= link_to 'Back', windows_path %>
