<h1>Listing generalcontractors</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generalcontractors.each do |generalcontractor| %>
      <tr>
        <td><%= generalcontractor.company_name %></td>
        <td><%= generalcontractor.company_description %></td>
        <td><%= generalcontractor.address %></td>
        <td><%= generalcontractor.city %></td>
        <td><%= generalcontractor.zipcode %></td>
        <td><%= generalcontractor.contact_name %></td>
        <td><%= generalcontractor.company_website %></td>
        <td><%= generalcontractor.company_phone %></td>
        <td><%= link_to 'Show', generalcontractor %></td>
        <td><%= link_to 'Edit', edit_generalcontractor_path(generalcontractor) %></td>
        <td><%= link_to 'Destroy', generalcontractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generalcontractor', new_generalcontractor_path %>
