<h1>Listing realtors</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realtors.each do |realtor| %>
      <tr>
        <td><%= realtor.company_name %></td>
        <td><%= realtor.company_description %></td>
        <td><%= realtor.address %></td>
        <td><%= realtor.city %></td>
        <td><%= realtor.zipcode %></td>
        <td><%= realtor.contact_name %></td>
        <td><%= realtor.company_website %></td>
        <td><%= realtor.company_phone %></td>
        <td><%= link_to 'Show', realtor %></td>
        <td><%= link_to 'Edit', edit_realtor_path(realtor) %></td>
        <td><%= link_to 'Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realtor', new_realtor_path %>
