<h1>Listing interiordesigners</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interiordesigners.each do |interiordesigner| %>
      <tr>
        <td><%= interiordesigner.company_name %></td>
        <td><%= interiordesigner.company_description %></td>
        <td><%= interiordesigner.address %></td>
        <td><%= interiordesigner.city %></td>
        <td><%= interiordesigner.zipcode %></td>
        <td><%= interiordesigner.contact_name %></td>
        <td><%= interiordesigner.company_website %></td>
        <td><%= interiordesigner.company_phone %></td>
        <td><%= interiordesigner.email %></td>
        <td><%= link_to 'Show', interiordesigner %></td>
        <td><%= link_to 'Edit', edit_interiordesigner_path(interiordesigner) %></td>
        <td><%= link_to 'Destroy', interiordesigner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interiordesigner', new_interiordesigner_path %>
