<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @interiordesigner.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @interiordesigner.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @interiordesigner.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @interiordesigner.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @interiordesigner.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @interiordesigner.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @interiordesigner.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @interiordesigner.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @interiordesigner.email %>
</p>

<%= link_to 'Edit', edit_interiordesigner_path(@interiordesigner) %> |
<%= link_to 'Back', interiordesigners_path %>
