<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @propertymanagementfirm.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @propertymanagementfirm.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @propertymanagementfirm.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @propertymanagementfirm.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @propertymanagementfirm.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @propertymanagementfirm.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @propertymanagementfirm.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @propertymanagementfirm.company_phone %>
</p>

<%= link_to 'Edit', edit_propertymanagementfirm_path(@propertymanagementfirm) %> |
<%= link_to 'Back', propertymanagementfirms_path %>
