<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @poolcleaner.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @poolcleaner.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @poolcleaner.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @poolcleaner.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @poolcleaner.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @poolcleaner.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @poolcleaner.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @poolcleaner.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @poolcleaner.email %>
</p>

<%= link_to 'Edit', edit_poolcleaner_path(@poolcleaner) %> |
<%= link_to 'Back', poolcleaners_path %>
