<h1>Listing stagings</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stagings.each do |staging| %>
      <tr>
        <td><%= staging.company_name %></td>
        <td><%= staging.company_description %></td>
        <td><%= staging.address %></td>
        <td><%= staging.city %></td>
        <td><%= staging.zipcode %></td>
        <td><%= staging.contact_name %></td>
        <td><%= staging.company_website %></td>
        <td><%= staging.company_phone %></td>
        <td><%= staging.email %></td>
        <td><%= link_to 'Show', staging %></td>
        <td><%= link_to 'Edit', edit_staging_path(staging) %></td>
        <td><%= link_to 'Destroy', staging, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staging', new_staging_path %>
