<div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial">All Florida Car / SUV / Truck Services</h2>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">AIR CONDITIONING/HEATING SERVICE</h3>
            </div>
            <%= image_tag("airconditioner1.png", :size => "120x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
    </div>
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BRAKES</h3>
            </div>
             <%= image_tag("brakes.png", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CAR WASHES / DETAIL SHOPS</h3>
            </div>
             <%= image_tag("carwash.png", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM SHOPS, ADD-ONS, TUNERS, LIFT/LOWERING KITS</h3>
            </div>
              <%= image_tag("customshop.jpeg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ELECTRICAL WORK</h3>
            </div>
             <%= image_tag("electricalwork.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ENGINE REPAIR</h3>
            </div>
             <%= image_tag("enginerepair.png", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EXHAUST/MUFFLERS</h3>
            </div>
             <%= image_tag("muffler.png", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EMISSIONS TESTING</h3>
            </div>
             <%= image_tag("emissions.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FABRICATION SHOPS</h3>
            </div>
             <%= image_tag("CarRepair.png", :size => "100x118", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INTERIOR UPHOLSTERY/LEATHERWORK</h3>
            </div>
             <%= image_tag("interior.png", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INSURANCE COMPANIES</h3>
            </div>
             <%= image_tag("autoinsurance.jpg", :size => "120x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>

         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INSPECTION COMPANIES</h3>
            </div>
             
             <%= image_tag("autoinspection.png", :size => "120x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>  
</div>

<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">OIL CHANGES/TUNE-UPS</h3>
            </div>
             <%= image_tag("oilchanges.png", :size => "100x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PAINT AND BODYSHOP</h3>
            </div>
             <%= image_tag("carpaint.png", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">RADIATORS</h3>
            </div>
            <%= image_tag("radiator.png", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">STEREOS AND SPEAKERS / NAVIGATION</h3>
            </div>
              <%= image_tag("carstereo.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TOW TRUCKS / ROAD SIDE SERVICE</h3>
            </div>
             <%= image_tag("towtruck.jpg", :size => "120x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRANSMISSION / DRIVELINE</h3>
            </div>
             <%= image_tag("transmision.png", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
       
</div>
<div class="row" id="features">
       <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TIRES / WHEELS</h3>
            </div>
             <%= image_tag("tires.png", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WELDING ALUMINUM/STEEL</h3>
            </div>
             
             <%= image_tag("welding.jpg", :size => "100x118", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WIND SHIELD / WINDOWS</h3>
            </div>
             <%= image_tag("windshield.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WINDOW TINTING</h3>
            </div>
            
             <%= image_tag("windowstint.png", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
           <div class="panel-heading">
                <h3 class="panel-title">WARRANTY WORK</h3>
            </div>
             <%= image_tag("warranty.png", :size => "100x84", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        
        </div>
</div>
