<div class="row" id="featuresHeading">
    <div class="col-12">
        <font color="002868"><h2 style="font-family:Calibri"><strong>What are you Looking for?</strong></h2></font>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>CARS/TRUCKS/SUV</strong></h3></font>
            </div>
             <%= image_tag("sedan.png", :size => "150x150", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/pages/car" target="_self" class="btn btn-default"><strong>SEARCH</strong></a>
        </div>
</div>
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>SEMI TRUCKS</strong></h3></font>
            </div>
             <%= image_tag("semitrailer.png", :size => "150x150", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/pages/semitruck" target="_self" class="btn btn-default"><strong>SEARCH</strong></a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>SEMI TRAILERS</strong></h3></font>
            </div>
              <%= image_tag("trailer.jpg", :size => "200x148", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/pages/semitrailer" target="_self" class="btn btn-default"><strong>SEARCH</strong></a>
        </div>
</div>
</div>
<div class="row" id="features">
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>HEAVY EQUIPMENT</strong></h3></font>
            </div>
             <%= image_tag("heavyequipment.png", :size => "150x130", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/pages/heavyequipment" target="_self" class="btn btn-default"><strong>SEARCH</strong></a>
        </div>
    </div>
    <div class="col-md-4 feature">
        
    </div>
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>FARM EQUIPMENT</strong></h3></font>
            </div>
             <%= image_tag("tractor2.jpg", :size => "160x130", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/pages/farm" target="_self" class="btn btn-default"><strong>SEARCH</strong></a>
        </div>
    </div>
</div>
</div>
