<div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial">All Florida Semi Trailers Motors Services</h2>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">24 HOUR FULL SERVICE REPAIR SHOPS</h3>
            </div>
            <%= image_tag("airconditioner1.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REEFER REPAIRS/SALES</h3>
            </div>
             <%= image_tag("reeferrepair.png", :size => "85x85", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/airconditioners" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
</div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BRAKES</h3>
            </div>
              <%= image_tag("airbrake.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HYDRAULIC REPAIRS</h3>
            </div>
             <%= image_tag("hydraulic.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/privatebanks" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ALUMINUM WELDING</h3>
            </div>
            
             <%= image_tag("welding.jpg", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">STEEL WELDING</h3>
            </div>
             <%= image_tag("steelwelding.png", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/customcabinets" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TARPS, STRAPS, TIE-DOWNS, CHAINS, BOOMERS</h3>
            </div>
             <%= image_tag("tarps.png", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/countertops" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">KINGPIN REPAIRS / REPLACEMENT</h3>
            </div>
             <%= image_tag("fix.png", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/drywalls" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PAINT, PANEL, ROOF REPAIRS</h3>
            </div>
             <%= image_tag("paint.jpg", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/framings" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BODYSHOPS</h3>
            </div>
             <%= image_tag("CarRepair.png", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/floorings" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRUCK WASH/DETAIL SHOPS</h3>
            </div>
             <%= image_tag("carwash.png", :size => "100x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/generalcontractors" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM SHOPS</h3>
            </div>
             <%= image_tag("customshop.jpeg", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/homeinspectors" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SUSPENSION</h3>
            </div>
             <%= image_tag("suspension.png", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/hardmoneylenders" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TIRES</h3>
            </div>
             <%= image_tag("trucktires.png", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/interiordesigners" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">OTHER</h3>
            </div>
            <%= image_tag("bodyshop.png", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/insulations" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PAINT AND BODYSHOPS</h3>
            </div>
             <%= image_tag("towtruck.jpg", :size => "120x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/landscapings" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRUCK WASH/DETAIL SHOPS</h3>
            </div>
             <%= image_tag("autoinsurance.jpg", :size => "120x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/landsurveyors" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INSURANCE COMPANIES</h3>
            </div>
             
             <%= image_tag("autoinspection.png", :size => "120x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/movincompanies" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INSPECTION COMPANIES</h3>
            </div>
              <%= image_tag("customshop.jpeg", :size => "120x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/mortgages" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM CABS / BUNKS</h3>
            </div>
             <%= image_tag("CarRepair.png", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/molds" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM SHOPS, ADD-ONS, CHROME</h3>
            </div>
             
             <%= image_tag("welding.jpg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/paintings" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EMISSIONS TESTING</h3>
            </div>
             <%= image_tag("emissions.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/plumbings" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FABRICATION SHOPS</h3>
            </div>
             <%= image_tag("other.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
             
            <p></p>
            <a href="/privatefirms" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM WELDING ALUMINUM/STEEL</h3>
            </div>
             <%= image_tag("other.png", :size => "100x84", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/propertymanagementfirms" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">POOL CLEANERS</h3>
            </div>
             <%= image_tag("poolcleaner.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/poolcleaners" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">POOL REPAIRS</h3>
            </div>
             <%= image_tag("poolrepair.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/poolrepairs" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REALTORS</h3>
            </div>
             <link><a href="/securities">
             <%= image_tag("realtors.png", :size => "100x100", :alt => "Realtors", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/realtors" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REAL ESTATE ACCOUNTANTS</h3>
            </div>
             <%= image_tag("realestateaccounts.png", :size => "100x100", :alt => "Accountants", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REAL ESTATE LAWYERS</h3>
            </div>
              <%= image_tag("realestatefirms.jpg", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/lawyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REAL ESTATE FIRMS</h3>
            </div>
            <%= image_tag("realestatefirms.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/real_estatefirms" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">RENTAL PROPERTIES FIRMS</h3>
            </div>
             <%= image_tag("rental.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/rentalproperties" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SECURITY COMPANIES</h3>
            </div>
             <link><a href="/windows">
              <%= image_tag("securitycompany.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/securities" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SEPTIC SPECIALISTS</h3>
            </div>
             <%= image_tag("septic.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/septics" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SOLAR SCREENS</h3>
            </div>
              <%= image_tag("solarscreen.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/solarscreens" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">STAGING COMPANIES</h3>
            </div>
             <%= image_tag("staging.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/stagings" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TAX SPECIALIST</h3>
            </div>
             <%= image_tag("taxspecialist.png", :size => "140x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/taxspecialists" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TERMITE INSPECTORS</h3>
            </div>
             <%= image_tag("termiteinspector.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/termiteinspectors" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TITLE COMPANIES</h3>
            </div>
             <%= image_tag("titlecompany.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/titlecompanies" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WINDOWS MANUFACTURS AND INSTALLERS</h3>
            </div>
             <%= image_tag("window.png", :size => "120x84", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/windows" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>