<div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial">NEW SEMI / COMMERCIAL TRAILER DEALERSHIPS</h2>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CAR HAULER</h3>
            </div>
            <%= image_tag("carhauler.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
    </div>
       <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CURTAIN SIDERS</h3>
            </div>
             <%= image_tag("curtain.jpg", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CONTAINER TRAILER</h3>
            </div>
             <%= image_tag("containertrailer.jpg", :size => "130x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM DESIGNED TRAILERS</h3>
            </div>
             <%= image_tag("customdesing.jpg", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CONSTUCTION TRAILERS</h3>
            </div>
             
             <%= image_tag("constructiontrailer.jpg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">DRY BULK</h3>
            </div>
             <%= image_tag("drybulk.gif", :size => "130x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>   
</div>
<div class="row" id="features">
      <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">DROP DECK</h3>
            </div>
            
             <%= image_tag("dropdeck.jpg", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">DOUBLE DROP DECK</h3>
            </div>
             <%= image_tag("doubledropdeck.jpg", :size => "100x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">DRY VAN / BOX</h3>
            </div>
             <%= image_tag("dryvan.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>   
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FLAT BED</h3>
            </div>
              <%= image_tag("flatbed.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HEAVY HAUL TRAILERS</h3>
            </div>
             <%= image_tag("heavyhaul.jpg", :size => "120x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
             
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
           <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HYDRAULIC DUMP TRAILER</h3>
            </div>
              <%= image_tag("hydraulic.jpeg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HOPPER BOTTOMS</h3>
            </div>
             <%= image_tag("commander.jpg", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HAY TRAILER</h3>
            </div>
             <%= image_tag("hay.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LIVE STOCK TRAILERS</h3>
            </div>
             <%= image_tag("livestock.jpg", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>     
</div>

<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LOW BOY / FLOAT</h3>
            </div>
            <%= image_tag("low.jpg", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LOGGING</h3>
            </div>
             <%= image_tag("logging.jpg", :size => "100x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LIVE BOTTOM FLOOR</h3>
            </div>
             <%= image_tag("livebuttom.png", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
       
        
</div>
<div class="row" id="features">
      <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REEFER VAN</h3>
            </div>
             <%= image_tag("reefer.jpg", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REFRIDGERATED TANKERS</h3>
            </div>
             <%= image_tag("refritanker.jpg", :size => "120x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SIDE LIFTERS</h3>
            </div>
             <%= image_tag("sidelift.jpg", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TANKERS</h3>
            </div>
             <%= image_tag("tankers.gif", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
           <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRAILER ACCESSORIES</h3>
            </div>
             <%= image_tag("trailerparts.jpg", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WET BULK</h3>
            </div>
             
             <%= image_tag("wetbulk.jpg", :size => "100x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>