<div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial">All Florida Semi Truck Services</h2>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">AIR BRAKES</h3>
            </div>
              <%= image_tag("airbrake.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">AIR CONDITIONING / HEATING SERVICE</h3>
            </div>
             <%= image_tag("airconditioner1.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">5TH WHEEL REPAIRS/REPLACEMENT</h3>
            </div>
             <%= image_tag("5thwheel.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
</div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM CABS / BUNKS</h3>
            </div>
             <%= image_tag("bodyshop.png", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
           <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM SHOPS, ADD-ONS, CHROME</h3>
            </div>
             
             <%= image_tag("customshop.jpeg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CUSTOM WELDING ALUMINUM/STEEL</h3>
            </div>
             <%= image_tag("welding.jpg", :size => "100x84", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EMISSIONS TESTING</h3>
            </div>
             <%= image_tag("smog.jpg", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ELECTRICAL WORK</h3>
            </div>
            
             <%= image_tag("electricalwork.png", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EXHAUST</h3>
            </div>
             <%= image_tag("muffler.png", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>    
</div>
<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ENGINE WORK, TUNING, REPAIRS</h3>
            </div>
             <%= image_tag("enginerepair.png", :size => "120x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FABRICATION SHOPS</h3>
            </div>
             <%= image_tag("CarRepair.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
             
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">24 HOUR FULL SERVICE REPAIR SHOPS</h3>
            </div>
            <%= image_tag("24hr.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
    </div>
</div>

<div class="row" id="features">
       <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INSURANCE COMPANIES</h3>
            </div>
             
             <%= image_tag("autoinsurance.jpg", :size => "120x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INSPECTION COMPANIES</h3>
            </div>
              <%= image_tag("autoinspection.png", :size => "120x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INTERIOR UPHOLSTERY/LEATHERWORK</h3>
            </div>
             
             <%= image_tag("interior.png", :size => "120x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>    
</div>
<div class="row" id="features">
       <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LIGHTS</h3>
            </div>
             <%= image_tag("lights.png", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">NAVIGATION / STEREO AND SPEAKERS</h3>
            </div>
             <%= image_tag("navigation.png", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>    
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">OIL CHANGES/TUNE-UPS</h3>
            </div>
            <%= image_tag("oilchanges.png", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>    
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PAINT AND BODYSHOPS</h3>
            </div>
             <%= image_tag("carpaint.png", :size => "120x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
      <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PARTS AND SERVICES</h3>
            </div>
             <%= image_tag("parts.png", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">RADIATORS</h3>
            </div>
            <%= image_tag("radiator.png", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SUSPENSION AIR RIDE / SPRING</h3>
            </div>
             <%= image_tag("suspension.png", :size => "120x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TOWING ROAD SIDE SERVICE</h3>
            </div>
             <%= image_tag("roadside.jpg", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRUCK WASH / DETAIL SHOPS</h3>
            </div>
             <%= image_tag("carwash.png", :size => "120x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
      
</div>

<div class="row" id="features">
       <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TIRES / WHEELS</h3>
            </div>
             <%= image_tag("trucktires.png", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRANSMISSION / DRIVELINE</h3>
            </div>
             <%= image_tag("trannmission.png", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WARRANTY WORK</h3>
            </div>
             <%= image_tag("warranty.png", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
       <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WINDOW TINTING</h3>
            </div>
             <%= image_tag("windowstint.png", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WIND SHIELD / WINDOWS</h3>
            </div>
             <%= image_tag("windshield.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        
        <div class="col-md-4 feature">
        </div>
</div>

