<div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial">USED HEAVY EQUIPMENT SALES</h2>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">AIR COMPRESSORS</h3>
            </div>
             <%= image_tag("aircompresor.jpg", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
            <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ARTICULATED</h3>
            </div>
             <%= image_tag("articulated.png", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ASPHALPT/PAVING/CEMENT</h3>
            </div>
             <%= image_tag("asphalts.jpg", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
             
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
 

</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BACKHOE</h3>
            </div>
            
             <%= image_tag("backhoe.jpg", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
           <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">COMPACTOR</h3>
            </div>
            <%= image_tag("compator.jpg", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>

         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CRANES</h3>
            </div>
             <%= image_tag("crane.jpg", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
       
      
    
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EXCAVATOR</h3>
            </div>
             <%= image_tag("excavator.jpg", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">GRADER</h3>
            </div>
             <%= image_tag("grader.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">GENERATORS</h3>
            </div>
             <%= image_tag("generator.jpg", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
     
</div>

<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HYDRO – MATIC TOOL</h3>
            </div>
             
             <%= image_tag("hydramatic.jpg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div> 
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LOADER</h3>
            </div>
             <%= image_tag("loader.jpg", :size => "100x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>  
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MANLIFTS/FORKLIFTS</h3>
            </div>
             <%= image_tag("manlifts.jpg", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
       
</div>

<div class="row" id="features">
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MATERIAL HANDLER</h3>
            </div>
             
             <%= image_tag("materialhandler.png", :size => "100x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
            <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MINING</h3>
            </div>
             <%= image_tag("mining.png", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
            <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">OIL FIELD SPECIALTY</h3>
            </div>
             <%= image_tag("oilfield.png", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
       
     
     
      
</div>
<div class="row" id="features">
            <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PIPE LAYER</h3>
            </div>
             <%= image_tag("pipe.jpg", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
           <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PAVING</h3>
            </div>
              <%= image_tag("paving.jpeg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SKID-STEER</h3>
            </div>
              <%= image_tag("skidsteeder.jpeg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        
   
        
</div>

<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SCRAPER</h3>
            </div>
             <%= image_tag("scrapper.jpg", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
       <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRACK LOADER</h3>
            </div>
             <%= image_tag("backloader.jpg", :size => "100x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
           <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TIMBER</h3>
            </div>
             <%= image_tag("timber.jpg", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
     
        
</div>
<div class="row" id="features">
           <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRACK-TYPE</h3>
            </div>
            <%= image_tag("tracktype.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
    </div>

    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">UNDERGROUND</h3>
            </div>
             <%= image_tag("underground.jpg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>

        <div class="col-md-4 feature">
        
        </div>
</div>
