<div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial">USED FARM EQUIPMENT SALE</h2>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ATTACHMENTS</h3>
            </div>
            <%= image_tag("attachments.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BALERS</h3>
            </div>
             <%= image_tag("farmbaler.jpg", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
</div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CHEMICAL APPLICATORS</h3>
            </div>
              <%= image_tag("chemicalapplication.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">COMBINES</h3>
            </div>
             <%= image_tag("combines.jpeg", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FERTILIZING AND PEST CONTROL</h3>
            </div>
            <%= image_tag("fertilizing.png", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">GROUNDS CARE</h3>
            </div>
            
             <%= image_tag("groundscare.jpg", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HARVESTING AND POST HARVESTING</h3>
            </div>
             
             <%= image_tag("postharver.png", :size => "100x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HAY MAKING</h3>
            </div>
              <%= image_tag("hayequip.jpg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
            <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">IRRIGATION</h3>
            </div>
             <%= image_tag("irrigation.jpg", :size => "100x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LOADING</h3>
            </div>
             <%= image_tag("load.jpg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>

         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MILKING</h3>
            </div>
             
             <%= image_tag("milking.jpg", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MOWERS</h3>
            </div>
             <%= image_tag("mowers.jpg", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>   
</div>

<div class="row" id="features">
     <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PLANTING</h3>
            </div>
             <%= image_tag("planting.jpg", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PRODUCE SORTER</h3>
            </div>
             <%= image_tag("production.jpg", :size => "100x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">POST HOLE DIGGERS</h3>
            </div>
             <%= image_tag("posthole.gif", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>

<div class="row" id="features">
    
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PLOWS</h3>
            </div>
             <%= image_tag("plows.jpg", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SEEDERS</h3>
            </div>
             <%= image_tag("seeder.jpg", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SOIL CULTIVATION </h3>
            </div>
             <%= image_tag("soilcultivation.jpg", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
     
</div>
<div class="row" id="features">
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SPRAYERS</h3>
            </div>
             <%= image_tag("sprayer.jpg", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>   
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRACTOR AND POWER</h3>
            </div>
             <%= image_tag("tractor.jpg", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
          <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TRAILERS</h3>
            </div>
             <%= image_tag("farmtrailer.jpg", :size => "100x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default"><strong>Search</strong></a>
        </div>
        </div>
</div>
