<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @rentalproperty.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @rentalproperty.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rentalproperty.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @rentalproperty.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @rentalproperty.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @rentalproperty.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @rentalproperty.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @rentalproperty.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rentalproperty.email %>
</p>

<%= link_to 'Edit', edit_rentalproperty_path(@rentalproperty) %> |
<%= link_to 'Back', rentalproperties_path %>
