<h1>Listing securities</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @securities.each do |security| %>
      <tr>
        <td><%= security.company_name %></td>
        <td><%= security.company_description %></td>
        <td><%= security.address %></td>
        <td><%= security.city %></td>
        <td><%= security.zipcode %></td>
        <td><%= security.contact_name %></td>
        <td><%= security.company_website %></td>
        <td><%= security.company_phone %></td>
        <td><%= security.email %></td>
        <td><%= link_to 'Show', security %></td>
        <td><%= link_to 'Edit', edit_security_path(security) %></td>
        <td><%= link_to 'Destroy', security, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Security', new_security_path %>
