<h1>Listing countertops</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countertops.each do |countertop| %>
      <tr>
        <td><%= countertop.company_name %></td>
        <td><%= countertop.company_description %></td>
        <td><%= countertop.address %></td>
        <td><%= countertop.city %></td>
        <td><%= countertop.zipcode %></td>
        <td><%= countertop.contact_name %></td>
        <td><%= countertop.company_website %></td>
        <td><%= countertop.company_phone %></td>
        <td><%= countertop.email %></td>
        <td><%= link_to 'Show', countertop %></td>
        <td><%= link_to 'Edit', edit_countertop_path(countertop) %></td>
        <td><%= link_to 'Destroy', countertop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Countertop', new_countertop_path %>
