<h1>Listing customcabinets</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customcabinets.each do |customcabinet| %>
      <tr>
        <td><%= customcabinet.company_name %></td>
        <td><%= customcabinet.company_description %></td>
        <td><%= customcabinet.address %></td>
        <td><%= customcabinet.city %></td>
        <td><%= customcabinet.zipcode %></td>
        <td><%= customcabinet.contact_name %></td>
        <td><%= customcabinet.company_website %></td>
        <td><%= customcabinet.company_phone %></td>
        <td><%= customcabinet.email %></td>
        <td><%= link_to 'Show', customcabinet %></td>
        <td><%= link_to 'Edit', edit_customcabinet_path(customcabinet) %></td>
        <td><%= link_to 'Destroy', customcabinet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customcabinet', new_customcabinet_path %>
