<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @customcabinet.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @customcabinet.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customcabinet.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customcabinet.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customcabinet.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @customcabinet.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @customcabinet.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @customcabinet.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customcabinet.email %>
</p>

<%= link_to 'Edit', edit_customcabinet_path(@customcabinet) %> |
<%= link_to 'Back', customcabinets_path %>
