<h1>Listing movingcompanies</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movingcompanies.each do |movingcompany| %>
      <tr>
        <td><%= movingcompany.company_name %></td>
        <td><%= movingcompany.company_description %></td>
        <td><%= movingcompany.address %></td>
        <td><%= movingcompany.city %></td>
        <td><%= movingcompany.zipcode %></td>
        <td><%= movingcompany.contact_name %></td>
        <td><%= movingcompany.company_website %></td>
        <td><%= movingcompany.company_phone %></td>
        <td><%= movingcompany.email %></td>
        <td><%= link_to 'Show', movingcompany %></td>
        <td><%= link_to 'Edit', edit_movingcompany_path(movingcompany) %></td>
        <td><%= link_to 'Destroy', movingcompany, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movingcompany', new_movingcompany_path %>
