<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @movingcompany.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @movingcompany.company_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @movingcompany.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @movingcompany.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @movingcompany.zipcode %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @movingcompany.contact_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @movingcompany.company_website %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @movingcompany.company_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @movingcompany.email %>
</p>

<%= link_to 'Edit', edit_movingcompany_path(@movingcompany) %> |
<%= link_to 'Back', movingcompanies_path %>
