<h1>Listing landscapings</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Contact name</th>
      <th>Company website</th>
      <th>Company phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landscapings.each do |landscaping| %>
      <tr>
        <td><%= landscaping.company_name %></td>
        <td><%= landscaping.company_description %></td>
        <td><%= landscaping.address %></td>
        <td><%= landscaping.city %></td>
        <td><%= landscaping.zipcode %></td>
        <td><%= landscaping.contact_name %></td>
        <td><%= landscaping.company_website %></td>
        <td><%= landscaping.company_phone %></td>
        <td><%= link_to 'Show', landscaping %></td>
        <td><%= link_to 'Edit', edit_landscaping_path(landscaping) %></td>
        <td><%= link_to 'Destroy', landscaping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landscaping', new_landscaping_path %>
